<div class="barra-accion">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <img src="./assets/logo-utn.png" class="logoUTNFRC"  alt="" >
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="#sobre_mi"><h5>Sobre mí</h5></a>
              <a class="nav-link" href="#habilidades"><h5>Habilidades</h5></a>
              <a class="nav-link" href="#educacion"><h5>Educacion</h5></a>
              <a class="nav-link" href="#contacto"><h5>Contacto</h5></a>
            </div>
          </div>
        </div>
      </nav>
</div>
