<section id="sobre_mi" class="container-fluid mt-3">
    <div class="container py-4 contenedor">
        <h2 class="display-6 mb-3 h2-lines">Sobre mí</h2>
        <div class="row align-items-center py-3">
            <div class="col-sm-4">
                <img src="./assets/sobre-mi.jpg" class="img-fluid">
            </div>
            <div class="col-sm-8 mt-3">
                <p class="fs-4">Hola, soy Franco un estudiante de Ingeniería de Sistemas. Al cual le interesa mucho el desarrollo de Software ya que me apasiona aprender cosas nuevas cada día. Además, soy autodidacta, curioso y muy responsable. estas son algunas herramientas que manejo al día de hoy... espero que esta lista vaya incrementando.</p>
                <p class="fs-4">Skills & Technologies:</p>
                <p class="fs-4">Full stack: HTML5 - CSS - Boostrap _ JavaScript - Typescript - nodeJS - Angular</p>
                <p class="fs-4">Backend: Python - Flask - FastAPI</p>
            </div>
        </div>

    </div>
</section>
